<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" href="/static/styles/nav.css">
    <link rel="stylesheet" href="/static/styles/login.css">
    <script src="/static/scripts/changepassword.js" defer></script>
    <script src="https://kit.fontawesome.com/e2e46cdcd4.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="navbar">
        <nav>
            <i class="fa-solid fa-cow fa-bounce"></i>
            <h2>MILKZONE</h2>
        </nav>
    </div>

    <section>
        <div class="register">
            <h2>Change Password</h2>
            <form action="/changepwd" method="post">
                <div class="control">
                    <input class="input" type="password" placeholder="Current Password*" name="oldpassword">
                    <span class="error"></span>
                </div>
                <div class="control">
                    <input class="input" type="text" placeholder="New Password*" name="newpassword">
                    <span class="error"></span>
                </div>
                <div class="control">
                    <input class="input" type="text" placeholder="Confirm Password*" name="repassword">
                    <span class="error"></span>
                </div>
                <span>""</span>
                <span class="message">{{error}}</span>
                <button type="submit">Change</button>
                <a id ="back" href ="/home">Back</a>
            </form>
        </div>
    </section>

    
</body>
</html>