<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/styles/dailyentry.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/customers.css">
    <script src="/static/scripts/customers.js"></script>
    <script src="/static/scripts/dailyentry.js"></script>
</head>
<body>
    <div class="search-bar">
        <a href="/dailyentrypage/back" class = back-button id="back-button">Back</a>
        <input type="text" id="search-input" placeholder="Search by Name or Number">
    </div>

    <div class = "success-message" id ="success"></div>
    <div class = "entry-message" id ="entry">{{message}}</div>


    <div class="customer-cards">
    {% for customer in customers %}
        <div class="customer-card" card_id='{{customer.customer_id}}' card_name ='{{customer.customer_name}}' card_phone ='{{customer.customer_phone}}' card_village='{{customer.customer_village}}'>
            <img src="{{ customer.customer_pic }}" alt="{{ customer.customer_name }} Image">
            <h2 class="id">Number: {{ customer.customer_id }}</h2>
            <h2 class="name" id ="card_name">Name: {{ customer.customer_name }} </h2>
            <p class ="phone" id="card_phone" >Phone: {{ customer.customer_phone}} </p>
            <p class ="village" id="card_village" >Village: {{ customer.customer_village}} </p>
            <p class = "add-entry">ADD</p>
        </div>
    {% endfor %}
    </div>
    
    <div class="modal" id="modal">
        <div class="modal-content">
            <form id="form1">
                <label for="entry_id">Number:</label>
                <input type="text" id="entry_id" name="entry_id" disabled>

                <label for="entry_name">Name:</label>
                <input type="text" id="entry_name" name="entry_name" disabled>
                
                <label for="entry_phone">Phone Number:</label>
                <input type="text" id="entry_phone" name="entry_phone" disabled>
                
                <label for="entry_village">Village:</label>
                <input type="text" id="entry_village" name="entry_village" disabled>
            </form>
            <form id="form" action="/addentry" method="post">
                <input type="hidden" id="entry_id_hidden" name="entry_id_hidden" value="">

                <label for="milkDate">Date:</label>
                <input type="date" id="milkDate" name="milkDate">
                <div class="error-message" id="date-error"></div>


                <div class="radio-group">
                    <label class="radio-label">
                        <input type="radio" id="amRadio" class="am_pm" name="am_pm" value="AM">AM
                    </label>
                    <label class="radio-label">
                        <input type="radio" id="pmRadio" class="am_pm" name="am_pm" value="PM">PM
                    </label>
                </div>
                <div class="error-message" id="time-error"></div>

                <label for="fat">FAT:</label>
                <input type="number" step = "any" id="fat" name="fat">
                <div class="error-message" id="fat-error"></div>


                <label for="snf">SNF:</label>
                <input type="number" step= "any" id="snf" name="snf">
                <div class="error-message" id="snf-error"></div>

                
                <label for="quantity">Milk (in Litres):</label>
                <input type="number" step = "any" id="quantity" name="quantity">
                <div class="error-message" id="quantity-error"></div>

                
                <label for="total">Total Price(₹.):</label>
                <input type="number" step = "any" id="total" name="total">
                <div class="error-message" id="total-error"></div>

                
                <button type = "button" class = submit_button>Submit</button>
            </form>
        </div>
    </div>


    <div class="confirm-modal" id="mini-modal">
        <!-- <h2>Are you sure to add this entry?</h2> -->
        <div class="confirm-modal-content">
            <span class="confirm-close">&times;</span>
            <form id="confirm-form1">
                <label for="confirm_id">Number:</label>
                <input type="text" id="confirm_id" name="confirm_id" disabled>

                <label for="confirm_name">Name:</label>
                <input type="text" id="confirm_name" name="confirm_name" disabled>
                
                <label for="confirm_phone">Phone Number:</label>
                <input type="text" id="confirm_phone" name="confirm_phone" disabled>
                
                <label for="confirm_village">Village:</label>
                <input type="text" id="confirm_village" name="confirm_village" disabled>

                <button type="button" id = cancel_button>Edit</button>
            </form>
            <form id="confirm-form">

                <label for="confirm-date">Date:</label>
                <input type="text" id="confirm-date" name = "confirm-date" disabled>

                <label for="confirm-fat">FAT:</label>
                <input type="number" step = "any" id="confirm-fat" name="confirm-fat" disabled>

                <label for="confirm-snf">SNF:</label>
                <input type="number" step= "any" id="confirm-snf" name="confirm-snf" disabled>
                
                <label for="confirm-quantity">Milk (in Litres):</label>
                <input type="number" step = "any" id="confirm-quantity" name="confirm-quantity" disabled>
                
                <label for="confirm-total">Total Price(₹.):</label>
                <input type="number" step = "any" id="confirm-total" name="confirm-total" disabled >
                
                <button type="button"  id = confirm_button>Submit</button>
            </form>
        </div>
    </div>
</body>
</html>
