/* Modal Styles */
.modal {
    display: flex;
    width: 55%;
    height: 100%;
    position: fixed;
    left:45.027%;
    top:11.3%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.confirm-modal{
    display: none;
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 3;
}



.modal-content {
    background-color: white;
    padding: 20px;
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
.confirm-modal-content{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    width: 50%;
    height:80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 30%;
    height:60%;
}


.confirm-close {
    position: absolute;
    top: 4px;
    right: 10px;
    font-size: 40px;
    cursor: pointer;
    font-weight: bold;
}

/* Form Styles */
#form, #confirm-form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#confirm-form{
    width:35%;
}



#form1,#confirm-form1 {
    display: flex;
    flex-direction: column;
    width:30%;
}

#confirm-form1{
    width:30%;
}


label {
    margin-bottom: 1px;
    font-weight: bold;
    font-size: 20px;
}

input[type="text"],
input[type="date"],
input[type="number"] {
    padding: 8px;
    margin-bottom: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
}

#confirm-form1 label{
    font-size: 16px;    
}
#confirm-form1 input{
    margin-bottom: 10px;
    padding: 6px;
}

#confirm-form label{
    font-size: 16px;
}
#confirm-form input{
    padding: 6px;
    margin-bottom: 10px;
}

.submit_button, #cancel_button, #confirm_button {
    padding: 15px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
#confirm-form1 button{
    margin-top: 85px;

}

button[type="submit"]:hover {
    background-color: #0056b3;
}

input[disabled] {
    background-color: #f2f2f2;
}

.radio-group {
    margin-bottom: 18px;
}

.radio-label {
    display: inline-block;
    margin-right: 20px;
}




















