/* Modal Styles */
.modal {
    display: flex;
    width: 62%;
    height: 100%;
    position: fixed;
    left:38.027%;
    top:8.2%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 0;
    border-left: 3px solid rgb(255, 255, 255);
}

.confirm-modal{
    display: none;
    width:100%;
    flex-direction: column;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 3;
    position: fixed;
    top:0;
    left:0;
    backdrop-filter: blur(10px);
}

/* .confirm-modal h2{
    color:rgb(0, 0, 0);
    background-color: white;
    width:35%;
    text-align: center;
    padding:20px 20px;
    row-gap: 0;
} */

.modal-content {
    background-color:rgb(64, 86, 150);
    padding: 20px;
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    color:rgb(255, 255, 255);
}
.confirm-modal-content{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    width: 35%;
    height:55%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}



.confirm-close {
    position: absolute;
    top: 4px;
    right: 10px;
    font-size: 40px;
    cursor: pointer;
    font-weight: bold;
}

/* Form Styles */
#form, #confirm-form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#confirm-form{
    width:35%;
}

#form1 input:disabled{
    margin-bottom: 20px;
    background-color: rgba(232, 238, 232, 0.842);
}



#form1,#confirm-form1 {
    display: flex;
    flex-direction: column;
    width:30%;
}

#confirm-form1{
    width:30%;
}


label {
    margin-bottom: 1px;
    font-weight: bold;
    font-size: 20px;
}

input[type="text"],
input[type="date"],
input[type="number"] {
    padding: 8px;
    margin-bottom: 4px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
}

#confirm-form1 label{
    font-size: 16px;    
}
#confirm-form1 input{
    margin-bottom: 10px;
    padding: 6px;
}

#confirm-form label{
    font-size: 16px;
}
#confirm-form input{
    padding: 6px;
    margin-bottom: 10px;
}

.submit_button, #confirm_button {
    padding: 15px 15px;
    background-color:rgb(12, 161, 12);
    color: white;
    border: 1px solid green;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px;
}

#cancel_button{
    padding: 15px 15px;
    background-color:rgb(167, 15, 15);
    color: white;
    border: 1px solid rgb(187, 82, 21);
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px;
}
#confirm-form1 button{
    margin-top: 85px;

}

.submit_button:hover {
    background-color: green;
}

input[disabled] {
    background-color: #f2f2f2;
}

.radio-group {
    margin-bottom: 4px;
}

.radio-label {
    display: inline-block;
    margin-right: 20px;
}


.success-message {
    display:none;
    position: fixed;
    top:12%;
    left:72%;
    border: 1px solid rgb(192, 62, 22);
    padding: 9px 40px;
    color: #f0f0f0;
    font-weight: bold;
    background-color: rgb(180, 14, 14);
    border-radius: 4px;
    font-size: 16px;
    z-index: 100;
  }

  .entry-message{
    display:none;
    position: fixed;
    top:12%;
    left:72%;
    border: 1px solid green;
    padding: 9px 40px;
    color: #f0f0f0;
    font-weight: bold;
    background-color: green;
    border-radius: 4px;
    font-size: 16px;
    z-index: 100;
  }


  .error-message {
    color: hsl(6, 93%, 62%);
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 18px;
  }


















