body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 100vh;
    background-color: #052d4d;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    padding: 80px 20px;
}

.card {
    width:95%;
    height: 8%;
    background-color: #1e1d85;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 30px 40px;
    box-sizing: border-box;
    text-align: center;
    border:1px solid white;
}

.card:hover{
    background-color: rgb(8, 82, 8);
    cursor: pointer;
    border: 1px solid white;
}

.card span{
    margin-right:60px;
    font-weight: bold;
    font-size: 18px;
    color:rgb(236, 228, 228);
}

.back-button {
    color:white;
    background-color: rgb(7, 142, 7);
    border-radius: 6px;
    width:60px;
    padding: 10px 20px;
    border:2px solid  rgb(7, 142, 7);
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    position: fixed;
    left:50%;
    top:4%;
    transform: translate(-50%,-50%);
}
.back-button:hover{
    background-color: rgb(0, 102, 15);
    border:2px solid#0ada11;
    color: rgb(255, 255, 255);
}

